body{
    background-color: #011F3F;
    text-align: center;
}
h1{
    
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: #FEF2BF;
    margin: 5%;
}
button{
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 20%;
    margin: 5%;
    border: 10px solid black;

}
.container{
    display: block;
    justify-content: center;
    width: 50%;
    margin: auto;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  .game-over {
    background-color: red;
    opacity: 0.8;
  }